.application-images {
  border-radius: 10%;
  width: 85%;
  z-index: 2;
}

.image-container {
  position: relative;
}

.class-1 {
  padding-right: 8rem;
}

.class-2 {
  padding-left: 3.5rem;
}

@media only screen and (max-width: 600px) {
  .image-container {
      width: 35%;
  }

  .application-images {
    border-radius: 10%;
    width: 100%;
    z-index: 2;
  }

  .class-1 {
    padding-right: 3rem;
  }
  
  .class-2 {
    padding-left: 1.5rem;
  }
}