.team-view {
  &>h1 {
    text-align: center;
  }

  &-cards {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    margin: 2rem 0 2rem 0;
  }
}

@media (min-width: 600px) {
  .team-view-cards {
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2rem 0 2rem 0;
  }
}