.rmsc {
  width: 100%;
  --rmsc-main: none;

  & span {
    font-size: .9rem;
  }

  &>.dropdown-container {
    border-radius: 20px;
    min-height: 2rem;
    height: fit-content;

    &:focus-within {
      border-color: black;
      border-radius: 20px 20px 4px 4px;
    }

    &>.dropdown-heading {
      min-height: 2rem;
      height: fit-content;
      padding-top: .3rem;
      padding-bottom: .3rem;

      &>.dropdown-heading-value {
        white-space: normal;

        &>span {
          line-height: 1.2rem;
        }
      }
    }
  }
}