.not-found-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    h1 {
      margin-bottom: 1rem;
    }
  
    img {
      margin-bottom: 1rem;
      max-width: 30rem;
    }
  
    p {
      margin-bottom: 1rem;
    }
  }
  