.author-date-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.author-carousel {
  align-items: flex-start;
  font-size: 0.7rem;
  background-color: #eee;
  margin-left: 1rem;
}

.date-carousel {
  font-size: 0.7rem;
  color : #D3D3D3;
}

.title-without-image {
  display: flex;
  justify-content: center;
  height: 12rem;
  width: 16.5rem;
  border-radius: 10%;
  margin: 0.6rem;
  flex-wrap: wrap;
}

.swiper-pagination {
  display: none;
}
.swiper {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  
    .swiper-slide {
      display: flex;
      background: #eee;
      height: 90%;
    }
  }
.mySwiper {
  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 12rem;
    width: 18rem;
    border-radius: 10%;
    box-shadow: -2px 3px 15px 1px rgba(0,0,0,0.75);
    margin: 0.6rem;
  }
  img {
    justify-content: center;
    align-self: center;
    width: 75%;
    height: 55%;
    border-radius: 10%;
    margin-bottom: 1.4rem;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .author-date-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .author-carousel {
    margin-top: .5rem;
    align-items: flex-start;
    font-size: 1rem;
    background-color: #eee;
    margin-left: 0.8rem;
    margin-right: 0.5rem;
  }

}

@media (min-width: 600px) {
  .author-date-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .author-carousel {
    margin-top: .5rem;
    align-items: flex-start;
    font-size: 1.2rem;
    background-color: #eee;
    margin-left: 1.2rem;
    
  }
  
  .date-carousel {
    margin-top: .5rem;
    font-size: 1.2rem;    
    margin-right: 1.2rem;
  }
  .swiper {
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
    
      .swiper-slide {
        display: flex;
        background: #eee;
        height: 90%;
      }
    }
  .mySwiper {
    .swiper-slide {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 20rem;
      width: 15rem;
      border-radius: 10%;
      box-shadow: -2px 3px 15px 1px rgba(0,0,0,0.75);
      margin: 1.4rem;
    }
    img {
      justify-content: center;
      align-self: center;
      width: 75%;
      height: 55%;
      border-radius: 10%;
      margin-bottom: 1.4rem;
    }
  }
}