.author-carousel {
  align-items: flex-start;
  font-size: 1.5rem;
  background-color: #eee;
}

.swiper {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  
    .swiper-slide {
      display: flex;
      font-size: 1.5rem;
      background: #eee;
      height: 90%;
    }
  }
.mySwiper {
  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    border-radius: 10%;
    box-shadow: -2px 3px 15px 1px rgba(0,0,0,0.75);
  }
  img {
    justify-content: center;
    align-self: center;
    width: 75%;
    height: 55%;
    border-radius: 10%;
    margin-bottom: 1.4rem;
  }
}