.tags-view {
    display: flex;
    height: calc(100vh - 20rem);
    padding-left: 18rem;
    @media screen and (max-width: 900px) {
        align-items: center;
        padding-left: 2.5rem;
        width: 100%;
        flex-direction: column;
        padding-right: 2rem;
    }

}
.tags-container {
    width: 60%;
    height: 100%;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 1rem;
    &>h2 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    &_tags {
        display: flex;
        height: 50%;
        overflow-x: auto;
        margin-bottom: 2rem;
        &::-webkit-scrollbar {
            display: none;
          }
    }

    &_articles {
        max-height: 35%;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
          }
        &>h2 {
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 2rem;
        }   
    }
}

.tags-right {
    margin-left: 1rem;
    width: 60%;

    &--tags {
        background-color: #fff;
        height: 10rem;
        padding: 1.5rem 0 5rem 1.5rem;
        border-radius: 1rem 0 0 1rem;
        position: relative;
        margin-bottom: 2rem;
        &>h2 {
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 2rem;
        }
    }

    &--write {
        background-color: #fff;
        height: 50%;
        padding: 1.5rem;
        border-radius: 1rem 0 0 1rem;
        &>h2 {
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 2rem;
        }
    }
}
