.explore {
    display: flex;
    align-items: center;
    opacity: 0.5;
    &>i {
        position: absolute;
        margin-left: 0.5rem;
    }
    
    &>input {
        background-color: #696262;
        color: #F2F2F2;
        padding: 0.5rem 0.5rem 0.5rem 2rem;
        border-radius: 0.5rem;
        &::placeholder {
            color: #F2F2F2;
            opacity: 0.5;
        }
    }
}