.articles-view {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 20rem);
    padding-left: 18rem;
    @media screen and (max-width: 900px) {
        align-items: center;
        padding-left: 2.5rem;
        width: 100%;
        flex-direction: column;
        padding-right: 2rem;
    }

}
.articles-view_container {
    width: 70%;
    height: 100%;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 1rem;
    margin-right: 1rem;

    &>h2 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    &--list {
        margin-top: 1rem;
        overflow-y: scroll;
        max-height: 92%;
        &::-webkit-scrollbar {
            display: none;
          }
        &_item {
            display: flex;
            margin-bottom: 0.5rem;
            cursor: pointer; 
             
                &>img {
                width: 10rem;
                border-radius: 0.5rem;
                }
            }
            &_content {
               margin-left: 1rem;
               &>h3 {
                   font-size: 1.1rem;
                   font-weight: 600;
                   margin-bottom: 0.5rem;
                   &>span {
                       font-size: 0.8rem;
                       font-weight: 400;
                       color: #999;
                   }
               }
               &>h4 {
                   font-size: 1rem;
                   font-weight: 500;
                   margin-bottom: 0.5rem;
               }
               &-text {
                   font-size: 0.9rem;
                   font-weight: 400;
                   margin-bottom: 0.5rem;
                }
                &-date {
                      font-size: 0.8rem;
                      font-weight: 400;
                      color: #999;
                      font-style: italic;
                }
            }
    }
    
    &-tags {
        width: 20%;
        height: 80%;
        background-color: #fff;
        padding: 1.5rem 1.5rem 5rem 1.5rem;
        border-radius: 1rem 0 0 1rem;
        position: relative;
        margin-bottom: 2rem;

         @media screen and (max-width: 900px) {
            margin-top: 2rem;
            width: 70%;
            height: 10rem;
         }
        &>h2 {
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 2rem;
        }
    }
}

