.BoxAroundConnectionTextfield {
    background-color: white;
    height: 30vh;
    width: 25vh;
    border: 1px solid #ccc;
    padding: .2vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
}